.project-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    border-radius: 9px;
    padding: 2rem 3rem;
    border: 2px solid var(--primary-black);
    width: 100%;
    cursor: pointer;
    background-color: var(--primary-white);
    box-shadow: var(--shadow-small);
}

.project-card:focus {
    outline: 1px solid var(--secondary-orange);
    border: 2px solid var(--secondary-orange);
    box-shadow: none;
}


.project-card:focus:not(:focus-visible) {
    outline: none;
    border: 2px solid var(--primary-black);
    box-shadow: var(--shadow-small);
}

.project-card_top-wrapper {
    display: flex;
    justify-content: space-between;
}


.project-card_role {
    padding: 0.5rem 1.5rem;
    border-radius: 100vh;
    border: 1px solid var(--primary-black);

}

.project-card:hover {
    transform: translateY(-3px);
    box-shadow: var(--shadow-mid);
}

/* .project-card:hover>.project-card_text-container {
    text-decoration: underline;
} */

.project-card_text-container {
    width: 65%;
    display: flex;
    justify-content: space-between;
    ;

}

.project-card_title-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.project-card_image-container {
    display: flex;
    justify-content: flex-end;
}

.project-card_image {
    width: 70%;
}

.project-button {
    margin-top: 2rem;
}