.project-card {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    border-radius: 9px;
    padding: 2rem 3rem;
    border: 3px solid var(--primary-black);
    width: 100%;
    cursor: pointer;
    box-shadow: var(--shadow-small);
}

.project-card:hover {
    transform: translateY(-3px);
    box-shadow: var(--shadow-mid);
}

.project-card:hover>.project-card_text-container {
    text-decoration: underline;
}

.project-card_text-container {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}