.upvote {
    display: flex;
    gap: 2rem;
}

.background {
    transform-origin: center;
    opacity: 0;
    transform: scale(0);
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.background-animate {
    opacity: 1;
    transform: scale(1);
    transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.background-animate-dislike {
    opacity: 1;
    transform: scale(1);
    transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.background-dislike {
    transform-origin: center;
    opacity: 0;
    transform: scale(0);
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.hand-animation {
    transform-origin: center;
    animation: moveHand 0.80s cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

.hand-animation-dislike {
    transform-origin: center;
    animation: moveHandDislike 0.80s cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

@keyframes moveHand {
    0% {
        transform: rotate(0);
    }

    65% {
        transform: rotate(-25deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes moveHandDislike {
    0% {
        transform: rotate(0);
    }

    65% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0);
    }
}