.hello-section {
    background-color: rgba(139, 139, 139, 0.1); /* Transparent white */
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(2px);
    border-radius: 12px;
    padding: 2rem;
    text-align: center;
    min-width: 80vw;
    max-width: 100%;
}

.hello-button-wrapper {
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.hello-logo-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.logo {
    display: flex;
    align-items: center;

}
.logo-render {
    width: 48px;
}

.logo-text {
    display: flex;
    flex-shrink: 0;
}

.logo-tags {
    display: flex;
    flex-shrink: 0;
    margin-left: auto;
}

.torus {
    border-radius: 9px;
    max-width: 100%;
    /* overflow: hidden; */
    margin: 1rem 0;
    z-index: -100;
}

.torus-wrapper {
    z-index: -100;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
}


/* Cube */
.hello-cube_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.cube {
    margin: 4rem 0;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    animation: spin 15s infinite linear;
    z-index: 0;
}

.face {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 2px dashed var(--secondary-orange);
    box-sizing: border-box;
}

.front {
    transform: rotateX(0deg) rotateY(0deg) translateZ(75px);
}

.back {
    transform: rotateX(0deg) rotateY(180deg) translateZ(75px);
}

.left {
    transform: rotateX(0deg) rotateY(-90deg) translateZ(75px);
}

.right {
    transform: rotateX(0deg) rotateY(90deg) translateZ(75px);
}

.top {
    transform: rotateX(-90deg) rotateY(0deg) translateZ(75px);
}

.bottom {
    transform: rotateX(90deg) rotateY(0deg) translateZ(75px);
}

@keyframes spin {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}