.dream-section_frame {
    border: none;
    height: 600px;
    width: 100%;
    max-width: 1150px;
    overflow: hidden;
}

.dream-link {
    color: var(--secondary-blue);
}

.dream-link:hover {
    color: var(--secondary-blue);
    text-decoration: underline;
}