.about-section {
    display: flex;
    justify-content: center;
}

.about-section+.about-section {
    margin-top: 1rem;
}

.about-section_list-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}