footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
}

.footer_logo-container {
    display: flex;
    align-items: center;
}


.footer_links-container {
    display: flex;
    align-items: center;
    /* margin-left: auto; */
}

.footer_links-container a+a {
    margin-left: 2rem;
}

.footer_links-container a:hover {
    text-decoration: underline;
}