.testimonial-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 1rem 1rem;
    border-radius: 9px;
    border: 2px solid var(--primary-black);
    min-height: 350px;
    width: 32%;
}


.testimonial-card:hover>.testimonial-card_text-wrapper {
    text-decoration: underline;
}

.testimonial-card_text {
    margin-bottom: 0.75rem;
}

.testimonial-card_name-wrapper {
    display: flex;
    margin-top: auto;
    gap: 1rem;
}

.testimonial-card_name {
    margin-top: auto;
}


.testimonial-card_name>span {
    display: block;
}

.testimonial-image {
    width: 48px;
    height: 48px;
    border: 1px solid var(--primary-black);
    border-radius: 100vh;
}