.navigation-mobile {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    padding: 1rem 0.5rem;
    background-color: var(--primary-grey);
    border-top: 2px solid var(--primary-black);
    gap: 0.5rem;
    width: 100%;
    transform-origin: 0%;
    z-index: 1001;
    overflow: auto;
}


.nav-text-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item-mobile {
    padding: 1rem 0rem;
    box-shadow: none;
    border: none;
    border-radius: 9px;
    width: 100%;
}

button:focus:not(:focus-visible) {
    outline: none;
}

.animations {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cube-container {
    background-color: red;
}
