.navigation-mobile {
    position: fixed;
    bottom: 0px;
    padding: 1rem 0.5rem;
    background-color: var(--primary-grey);
    border-top: 2px solid var(--primary-black);
    left: 0px;
    display: flex;
    justify-content: space-evenly;
    gap: 0.5rem;
    overflow-x: auto;
    width: 100%;
    transform-origin: 0%;
    z-index: 1000;

}

.nav-item-mobile {
    display: flex;
    padding: 1rem 1rem;
    box-shadow: none;
    border: none;
    border-radius: 9px;
}

.nav-mobile-span {
    margin-left: auto;
}

button:focus:not(:focus-visible) {
    outline: none;
}