/* Fonts */
@font-face {
  font-family: 'NeueMontreal';
  src: url(./fonts/PPNeueMontreal-Bold.otf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url(./fonts/PPNeueMontreal-Medium.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url(./fonts/PPNeueMontreal-Book.otf);
  font-weight: lighter;
  font-style: normal;
}

/* Variables  */
:root {
  --font: "NeueMontreal", sans-serif;
  --primary-black: #0D0D0B;
  --primary-white: #F1F1F1;
  --secondary-orange: #DA5116;
  --secondary-blue: #112FA7;
  --tertiary-yellow: #FBDF00;
  --tertiary-purple: #9610FE;
  --tertiary-green: #4CD31C;
  --shadow-small: 2px 3px 0px 0px var(--primary-black);
  --shadow-mid: 2px 5px 0px 0px var(--primary-black);
  --shadow-large: 2px 7px 0px 0px var(--primary-black);
}

/* Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/* General  */
body {
  font-family: var(--font), sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: var(--primary-black);
  background-color: var(--primary-white);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Typography */
.text-display-large {
  font-size: 6rem;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

.text-display {
  font-size: 4.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

.text-header {
  font-size: 2rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.text-header-small {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.text-title {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

.text-body {
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

.text-note {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: lighter;
  line-height: normal;
}


/* Layout */
body {
width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}

.content-container {
  width: calc(100% - 184px);
  height: 1000px;
  margin-left: auto;
}

section {
  height: 65%;
  border: 3px solid var(--primary-black);
  border-radius: 9px;
  padding: 3rem;
}

/* Media queries */

/* @media screen and (min-width: 2300px) {
  body {
    width: 60%;
  }
} */