/* Fonts */
@font-face {
  font-family: 'NeueMontreal';
  src: url(./fonts/PPNeueMontreal-Bold.otf);
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url(./fonts/PPNeueMontreal-Medium.otf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* Variables  */
:root {
  --font: "NeueMontreal", sans-serif;
  --primary-black: #0D0D0B;
  --primary-white: #F1F1F1;
  --pure-white: #FFFFFF;
  --primary-grey: #CACAD5;
  --secondary-orange: #DA5116;
  --secondary-blue: #112FA7;
  --tertiary-yellow: #FBDF00;
  --tertiary-red: #B82B2A;
  --tertiary-purple: #9610FE;
  --tertiary-green: #16a119;
  --shadow-small: 2px 3px 0px 0px var(--primary-black);
  --shadow-mid: 2px 5px 0px 0px var(--primary-black);
  --shadow-large: 2px 7px 0px 0px var(--primary-black);
}

/* Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul,
ol {
  list-style: square;
}

a {
  text-decoration: none;
  color: inherit;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/* General  */
body {
  font-family: var(--font), sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: var(--primary-black);
  background-color: var(--primary-grey);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Typography */
.text-display-large {
  font-size: 6rem;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

.text-display {
  font-size: 4.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
}

.text-header-large {
  font-size: 3rem;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
}

.text-title-bold {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
}

.text-header {
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
}

.text-header-small {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.text-title {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
}

.text-note {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
}

.text-note-bold {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
}

.text-body-large {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
}

.text-body {
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
}

.text-body-bold {
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
}


/* Layout */
body {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}

.content-container {
  width: calc(100% - 184px);
  margin-left: auto;
}

section {
  background-color: var(--primary-white);
  border: 2px solid var(--primary-black);
  border-radius: 9px;
  padding: 3rem;
}

.casestudy-section {
  margin-top: 1rem;
}

.casestudy-section_wrapper {
  margin: 0 auto;
  max-width: 660px;
}


/* Media queries */

/* Fonts */
@media screen and (max-width: 1350px) {
  .text-display-large {
    font-size: 4.5rem
  }

  .text-display {
    font-size: 3.5rem;
  }

  .text-title {
    font-size: 1.25rem;
  }

  .text-header-large {
    font-size: 2.5rem;
  }

  .text-header-small {
    font-size: 1.25rem;
  }

  .text-header {
    font-size: 1.5rem;
  }

  .text-body-large {
    font-size: 1.25rem;
  }

}

/* Layout */

@media screen and (min-width: 1700px) and (max-width:1800px) {
  body {
    width: 75%;
  }
}

@media screen and (min-width: 1800px) and (max-width:2300px) {
  body {
    width: 70%;
  }
}

@media screen and (min-width: 1950px) and (max-width:2300px) {
  body {
    width: 65%;
  }
}

@media screen and (min-width: 2300px) and (max-width:3300px) {
  body {
    width: 55%;
  }
}

@media screen and (min-width: 3300px) {
  body {
    width: 50%;
  }
}

@media screen and (max-width: 450px) {
  .nav-item-mobile {
    min-width: 5rem;
    justify-content: center;
  }
}

/* General  */
@media screen and (max-width:1350px) {
  .hello-section_title {
    max-width: 90%;
  }
}

@media screen and (max-width: 1250px) {
  body {
    width: 95%;
  }

  .hello-section {
    gap: 0.75rem;
  }

  .hello-logo-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .logo-tags {
    margin-top: 1rem;
    margin-left: 0;
  }


  .about-section_me-text-wrapper {
    width: 80%;
  }

  .about-section_title {
    max-width: none;
    width: 100%;
  }

  .testimonial-card {
    min-height: 300px;
    height: 250px;
    width: 80%;
  }

  .about-section_title-2 {
    text-align: center;
    padding: 0rem;
  }

  .about-section_fact-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .about-section_list-wrapper {
    gap: 1rem;
  }

  .about-list_wrapper {
    height: 450px;
  }

  .project-card_top-wrapper {
    align-items: center;
  }

  .project-card_role {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .text-header-large {
    font-size: 2rem;
  }

  .logo-tags {
    font-size: 1.25rem;
  }

  body {
    width: 85%;
  }

  section {
    padding: 2rem;
  }

  .project-card {
    padding: 2rem;
  }

  .section-divider_description {
    display: none
  }


  .hello-logo-wrapper {
    margin-bottom: 0.75rem;
    flex-direction: column;
  }

  .logo-text {
    font-size: 1.5rem;
  }

  .about-section_me-wrapper {
    flex-direction: column;
    gap: 1rem;
  }

  .about-section_me-text-wrapper {
    width: 100%;
  }

  .about-section_image-wrapper {
    width: 100%;
    align-self: center;
    margin: 1rem 0;
  }

  .about-section_list-wrapper {
    flex-direction: column;
    width: 100%;
  }

  .about-list_wrapper {
    width: 100%;
  }

  .about-section_testimonial-wrapper {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .testimonial-card {
    width: 100%;
    height: 250px;
    min-height: auto;
    text-align: center;
  }

  .testimonial-card_name-wrapper {
    justify-content: center;
  }

  .article-section {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .article-section_challenge-text-wrapper {
    width: 100%;
  }

  .button-primary {
    font-size: 1rem;
  }

  .button-secondary {
    font-size: 1rem;
  }

  .article-section_title-wrapper {
    width: 100%;
  }

  .article-section_span {
    margin: 0;
  }

  .article-section_persona-image {
    width: 100%;
  }

  .article-section_empathy-map {
    width: 100%;
  }

  .article-section_search-explore {
    width: 100%;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form_text-wrapper {
    margin-bottom: 0.75rem;
    width: 100%;
  }

  .torus {
    display: none;
  }

}

@media screen and (max-width: 768px) {
  .logo-tags {
    font-size: 1rem;
  }

  .hello-section_title {
    max-width: 100%;
  }

  .text-display {
    font-size: 2.5rem;
  }

  body {
    width: 90%;
  }

  .navigation {
    display: none;
  }

  .hello-button-wrapper {
    display: none;
  }

  .floating-button_wrapper {
    display: none;
  }

  .nav-item-mobile {
    min-width: 7rem;
    justify-content: space-between;
  }

  .about-section_me-wrapper {
    flex-direction: column;
    gap: 1rem;
  }


  .testimonial-card {
    height: 300px;
  }

  .about-section_image-wrapper {
    width: 100%;
    align-self: center;
  }

  .about-section_list-wrapper {
    flex-direction: column;
    align-items: center;
    min-height: auto;
  }


  .project-card_image-container {
    width: 50%;
  }

  .content-container {
    margin: 0 auto;
    width: 100%;
  }

  .about-section_fact-wrapper {
    padding: 1rem 0;
  }

  .hello-button-wrapper {
    align-items: flex-start;

  }

  .about-section_me-text-wrapper {
    width: 100%;
  }

  .button-primary {
    font-size: 0.75rem;
  }

  .button-secondary {
    font-size: 0.75rem;
  }

  .project-card_title-wrapper {
    width: 100%;
  }

  .about-section_fact-wrapper {
    gap: 4rem;
    width: 100%;
  }

  .article-section_vote-wrapper {
    margin: 0;
  }

  .upvote {
    /* flex-direction: column; */
    margin: 0 auto;
    gap: 0;
  }

  #like-button,
  #dislike-button {
    width: 120px;
    height: 120px;
  }

  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    font-size: 1rem;
  }

  .contact-form input[type="submit"] {
    font-size: 0.75rem;
  }

  footer {
    margin-bottom: 8rem;
    flex-direction: column;
    gap: 1rem;
  }

  .footer_logo-container {
    text-align: right;
    margin-bottom: 1rem;
  }

  .notification-title {
    display: none;
  }

  .onboarding_notification-wrapper {
    display: none;
  }

}

/* Navigation */
@media screen and (min-width: 768px) {
  .navigation-mobile {
    display: none;
  }

}