/* Fonts */
@font-face {
  font-family: "NeueMontreal";
  src: url(./fonts/PPNeueMontreal-Bold.otf);
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url(./fonts/PPNeueMontreal-Medium.otf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueBit";
  src: url(./fonts/PPNeueBit-Bold.otf);
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Variables  */
:root {
  --font: "NeueMontreal", sans-serif;
  --primary-black: #e2e2e2;
  --transparent-background: rgba(139, 139, 139, 0.1);
  --primary-white: #171717;
  --pure-white: #000000;
  --primary-grey: #000000;
  --secondary-orange: #d24e15;
  --secondary-blue: #063ffa;
  --tertiary-yellow: #ffde22;
  --tertiary-red: #ca1111;
  --tertiary-purple: #9610fe;
  --tertiary-green: #58da4d;
}

/* Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul,
ol {
  list-style: square;
}

a {
  text-decoration: none;
  color: inherit;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/* General  */
body {
  position: relative;
  font-family: var(--font), sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: var(--primary-black);
  background-color: var(--primary-grey);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  width: 100%;
}

/* Typography */

.text-huge {
  font-size: 5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  font-family: NeueBit;
}

.text-display {
  font-size: 4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
}

.text-header-large {
  font-size: 3rem;
  font-style: normal;
  font-weight: normal;
  line-height: 120%;
}
.text-header-large-variant {
  font-family: NeueBit;
  font-size: 4rem;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
}

.text-title-bold {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
}

.text-header {
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
}

.text-header-variant {
  font-family: NeueBit;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
}

.text-header-small {
  font-size: 1.5rem;
  font-style: normal;
  line-height: normal;
}
.text-title {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
}

.text-note {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
}

.text-note-bold {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
}

.text-body-large {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
}
.text-body-large-varant {
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  font-family: NeueBit;
}

.text-body {
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
}

.text-body-bold {
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
}

/* Layout */
body {
  width: 100%;
  margin: 1rem auto;
}

/* Media queries */

@media screen and (max-width: 768px) {

  #contact {
    display: none;
  }

  #work {
    display: none;
  }

  .text-huge {
    font-size: 3rem;
  }
  .text-display {
    font-size: 2rem;
  }
  .text-header-large {
    font-size: 2rem;
  }

  .text-body-large-varant {
    font-size: 1.5rem;
  }
  
  .text-header-large-variant {
    font-size: 3rem;
  }
  .text-header {
    font-size: 1.5rem;
  }
  .text-header-small {
    font-size: 1.25rem;
  }

  .text-note-bold {
    font-size: 1rem;
  }
}

.content-container {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
